
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.end{
  justify-content: flex-end;
}

.grid{
  display:grid;
  /* grid-gap: 15px; */
  /* border: 2px solid ; */
}

.container{
  padding: 15px;
  width: 90%;
  margin: auto;
  text-align: center;
}


.grid_5{
  grid-template-columns:repeat(5,1fr);
}

.grid_3{
  grid-gap: 20px;
  grid-template-columns:repeat(3,1fr);
}

.grid_3_2_1{
  grid-template-columns: 80% 20%
}

.none{
  display: none;
}


.paginationButtuns{
 
 margin-top: 30px;
 height: 40px; 
 list-style: none;
 display: flex;
 justify-content: center;

}

.paginationButtuns a{
  padding: 10px;
  margin:10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #2bff3d;
  /* color: #2b2eff; */
  cursor: pointer;
  transition: 0.1s background-color  ease-in;
  transition: 0.1s color ease-in;
}

.paginationButtuns a:hover{
  background-color: rgb(227, 243, 253);
  color: #059411;
  
}

/* .previouButton{

}

.nextButton{

} */

.paginationDisabled a{
  background-color: gray;
  border: 0px;
  color: white;
}

.paginationActive a{
  background-color: rgb(227, 243, 253);
  color: #059411;
}